body {
    margin: 0;
    font-family: "helvetica neue", arial, system;
}

#instructions {
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #4d4d4d;
}

#instructions img {
    width: 80vw;
}

#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(24, 24px);
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: lightblue;
    -webkit-user-select: none;
    user-select: none;
}

.cell {
    text-align: center;
    box-sizing: border-box;
    border-width: 2px 0 0 2px;
    border-style: solid;
    border-color: lightblue;
    min-height: 24px;
    max-height: 24px;
    line-height: 24px;
    user-select: none;
    font-weight: bold;
    cursor: default;
}
.cell.clickable.hidden:hover {
    background-color: rgb(245, 245, 245);
}

.clickable {
    cursor: pointer;
}

.hidden {
    background-color: rgb(223, 238, 243);
}

.bomb {
    background-color: rgb(255, 215, 215);
    font-size: 12px;
}

.clickable.highlight {
    filter: brightness(105%);
}

.controls {
    margin: 1em 0 0 0;
    display: flex;
    flex-direction: column;
}

.reset {
    margin: 1em;
    background-color: #007dc1;
    border: 1px solid #176599;
    cursor: pointer;
    color: #fff;
    padding: 4px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
}
.reset:active {
    position: relative;
    top: 1px;
}
.reset::-moz-focus-inner {
    border: none;
}

@media screen and (max-width: 800px) and (orientation: portrait) {
    #app {
        display: none;
    }

    #instructions {
        display: flex;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
    body {
        margin: 1em;
    }

    #app {
        flex-direction: row;
        align-items: flex-start;
        row-gap: 0;
        column-gap: 1em;
    }

    .grid {
        grid-template-columns: repeat(24, 5vh);
    }

    .cell {
        min-height: 5vh;
        max-height: 5vh;
        line-height: 5vh;
        font-size: 0.7rem;
        text-overflow: clip;
    }

    .controls {
        margin: 0 0 0 .5em;
    }
}

[v-cloak] {
    display: none !important;
}
